<h1>New Entry for <%= @place["name"] %></h1>

<form action="/entries" method="post">
  <input type="hidden" name="place_id" value="<%= @place["id"] %>">

  <p>
    <label for="title">Title</label><br>
    <input type="text" name="title" id="title">
  </p>

  <p>
    <label for="occurred_on">Date</label><br>
    <input type="date" name="occurred_on" id="occurred_on">
  </p>

  <p>
    <label for="description">Description</label><br>
    <textarea name="description" id="description"></textarea>
  </p>

  <button>Save Entry</button>
</form>